/* From Uiverse.io by FrM-bot */ 
/* From uiverse.io by @FrM-bot */
.cards {
    /* width: 300px; */
    height: min-content;
    padding-bottom: 6rem;
    transition: all .3s;
    position: relative;
    border-radius: .5rem 2rem;
    box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
    /* background: -webkit-linear-gradient(to right, #7f7e7e, #ffffff); */
     /* background: linear-gradient(to right,  #F5DEB3, #fefefe);  */
     background: cyan;
  }
  
  .cards:hover {
    transform: scale(1.03);
  }
  
  .data {
    transition: all .3s;
    background: #fff;
    /* background: -webkit-linear-gradient(to right, #828081, #ffffff);
     background: linear-gradient(to right,  #F5DEB3, #fefefe);  */
     background: cyan;
  }
  
  .data:hover {
    /* transform: scale(1.3); */
  }
  
  .data-container {
    display: grid;
    border-radius: .5rem 2rem;
    /* height: 270px; */
    overflow: hidden;
  }
  
  .descriptions {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    text-align: start;
    padding: .5rem 1em;
    width: 90%;
    transition: all 0.5s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    backdrop-filter: blur(.1rem);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .5rem 2rem;
  }
  
  .descriptions:hover {
    transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
    box-shadow: none;
  }
  
  .titles {
    color: black;
  }