.yearBtn {
  color: #090909;
  padding: 0.2em 1.2em;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0.5em;
  background: #f5f5f5;
  cursor: pointer;
  border: 1px solid #070707;
  transition: all 0.3s;
}

.yearBtn.active {
  background: #3d4957; /* Change to your desired active background color */
  color: #ffffff; /* Change to your desired active text color */
}

.yearBtn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.monthBtn {
  padding: 0.2em 0.5em;
  font-size: 12px;
  font-weight: 400;
  border-radius: 0.5em;
}


#monthscrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#monthscrollbar::-webkit-scrollbar
{
	height: 0.4rem;
	background-color: #F5F5F5;
}

#monthscrollbar::-webkit-scrollbar-thumb
{
	background-color: #3d4957;
}