/* From Uiverse.io by Spacious74 */ 
.outer {
    width: 17rem;
    height: 26rem;
    border-radius: 10px;
    padding: 1px;
    /* background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d); */
    background: "black";

    position: relative;
  }
  
  .dot {
    width: 5px;
    aspect-ratio: 1;
    position: absolute;
    background-color: #F5DEB3;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 100px;
    z-index: 2;
    right: 8%;
    top: 8%;
    animation: moveDot 6s linear infinite;
  }
  
  @keyframes moveDot {
    0%,
    100% {
      top: 8%;
      right: 10%;
    }
    25% {
      top: 8%;
      right: calc(100% - 33px);
    }
    50% {
      top: calc(100% - 40px);
      right: calc(100% - 33px);
    }
    75% {
      top: calc(100% - 40px);
      right: 10%;
    }
  }
  
  .card {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border: solid 1px #202222;
    background-size: 20px 20px;
    /* background: radial-gradient(circle 280px at 0% 0%, #104099, #030F26); */
    background-color: black;
    display: flex;
    align-items: center;
    
    position: relative;
    flex-direction: column;
    color: #fff;
  }
  .ray {
    width: 220px;
    height: 45px;
    border-radius: 100px;
    position: absolute;
    background-color: #c7c7c7;
    opacity: 0.4;
    box-shadow: 0 0 50px #fff;
    filter: blur(10px);
    transform-origin: 10%;
    top: 0%;
    left: 0;
    transform: rotate(40deg);
  }
  
  .card .text {
    font-weight: bolder;
    font-size: 4rem;
    background: linear-gradient(45deg, #000000 4%, #fff, #000);
    background-clip: text;
    color: transparent;
  }
  
  .line {
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #2c2c2c;
  }
  .topl {
    top: 8%;
    background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
  }
  .bottoml {
    bottom: 8%;
  }
  .leftl {
    left: 10%;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, #747474 30%, #222424 70%);
  }
  .rightl {
    right: 10%;
    width: 1px;
    height: 100%;
  }
  